.header{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ul-item{
    display:flex;
    flex-direction: row;
}
.ul-item li{
    list-style-type: none;
}

.ul-item li a{
    color:black;
    text-decoration: none;
}